
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <style type="text/css">
        body {
            /*background-image: none;*/
        }
    </style>
</head>
<body>


</body>

</html>
@*<h2>Index</h2>*@

